
@using PagedList.Mvc
@model PagedList.IPagedList<IITtechcom.Models.Entities.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left: 12px;">User Managent</h2>

<p>
    @Html.ActionLink("Create New", "Create", "User", new { style = "margin-left: 12px;" })
</p>
<table class="table">
    <tr>
        <th>
            UserName
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Name)
            </th>*@
        <th>
            Email
        </th>
        <th>
            Password
        </th>
        <th>
            Create Date
        </th>
        <th>
            Admin
        </th>
        <th>
            Editor
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="row_@item.ID">
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEditor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Ajax.ActionLink("Delete", "Delete", new { id = item.ID }, new AjaxOptions
                {
                    Confirm = "Bạn có muốn xoá user này?",
                    OnComplete = "$('#row_" + @item.ID + "').remove()",
                    HttpMethod = "Delete"
                })
            </td>
        </tr>
    }
</table>

<div style="padding: 12px;">
    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @searchString = @ViewBag.SearchString
    }))
</div>