@model IEnumerable<IITtechcom.Models.Entities.Menu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-left: 12px;">MENU</h2>

<p style="margin-left: 12px;">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Decription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetaDecription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr id="row_@item.ID">
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Decription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetaDecription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.ID}) |

            @Ajax.ActionLink("Delete", "Delete", new {id = item.ID}, new AjaxOptions { Confirm = "Bạn có muốn xoá menu này?", OnComplete = "$('#row_" + @item.ID + "').remove()", HttpMethod = "Delete" })
        </td>
    </tr>
}

</table>
